@charset "UTF-8";
/*
em HTML é id = em CSS é # (somente 1 elemento)
em HTML é class = em CSS é . (pode vários elementos)+
*/
body{
    background-color: rgb(145, 224, 142);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(4, 109, 0);
}
h1#principal{
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}
h2{
    color: rgb(73, 109, 71);
}
.basico{
    color: rgb(165, 177, 5);
}
.intermediario{
    color: rgb(16, 5, 177);
}
.avancado{
    color: rgb(136, 1, 30);
}
.destaque{
    background-color: rgb(7, 226, 215);
    text-align: center;
}