@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}


   body {
    background-image: linear-gradient(to bottom, #591C21, #044040);
    background-attachment: fixed; /* Isso faz o degradê cobrir a tela inteira e não se mexer */
}

 main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000002;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #FBE2D0;
    text-align: center;
    text-shadow: 1px 1px 0px #011614;
}

h2{
    color: #FBE2D0;
}
p{
    text-align: justify;
}